<div class="container-fluid">
  <div class="card bg-dark text-white header">
    <img src="/assets/13804312464_4656f62a1e_o_header.jpg" class="card-img" alt="synth">
    <div class="card-img-overlay">
      <h1 class="card-title text-monospace">Synthesizrs</h1>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. </p>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="/assets/518046941_50a9410063_o.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Non diam</h5>
        <p class="card-text">Dictum varius duis at consectetur lorem donec massa sapien faucibus. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/6928013157_2f1054eb54_o.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Condimentum vitae sapien</h5>
        <p class="card-text">Nulla pellentesque dignissim enim sit amet. Ut porttitor leo a diam sollicitudin. </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/20161284852_3b5f293d7c_o.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mattis ullamcorper</h5>
        <p class="card-text">Habitasse platea dictumst vestibulum rhoncus est pellentesque. Semper eget duis at tellus.
          Condimentum vitae sapien pellentesque habitant morbi tristique senectus.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
